<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GROQ_API_KEY</key>
	<string>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</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>69676f1213b90e1cc02a2444515eb57a</string>
	<key>defaultEnablement</key>
	<true/>
	<key>requiredOnboarding</key>
	<array>
		<string>Tilt</string>
		<string>Tap</string>
		<string>Arrow Swipe</string>
		<string>Scroll Drag</string>
		<string>Trackpad Capture</string>
	</array>
</dict>
</plist>
